@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>University Course Management System</h1>
    @*<p class="lead">Welcome to.</p>*@
    
</div>

<div class="row">
    <div class="col-md-4">
       
    </div>
    <div class="col-md-4">
       
    </div>
    <div class="col-md-4">
       
    </div>
</div>